.containerAdmin{
    width: 100%;
    height: 1000px;
    background-color: red;
}
.ventanas{
    width: 100%;
    display: flex;
    background-color: #10102D;
}
.side{
    width: 20%;
    background-color: #10102D;
}
.tituloAdmin{
    background-color: gray;
    text-align: center;
    color: brown;
}